<h1>Welcome to the Telemetry App</h1>

<h2>Available endpoints:</h2>
<ul>
  <li>GET /api/stats</li>
    <h4>Response Sample:</h4>
    <p>200 OK { "Maximum": 28, "Minimum": -6, "Average": 10 }</p>

  <li>PUT /api/temperature</li>
    <h4>Expected payload sample:</h4>
    <p>{ "sensorId": "202", "temperature": 18, "timestamp": "YYYY-MM-DDTHH:MM:SS" }</p>

    <h4>Response Sample:</h4>
    <p>200 OK { "Maximum": 28, "Minimum": -6, "Average": 10 }</p>
</ul>

<br>
<br>

<h3>This page will be replaced by the Swagger documentation in the next update this week. Thank you for your patience.</h3>